In [2]:
print ('Kunalds adsa')

Kunalds adsa

# Data Types

In [7]:
#integer 

no1= 1219
no2= 2342
no3 = no1+no2
print(no3)

3561

In [9]:
#float

no1= 12.19
no2= 2.342
no33 = no1+no2
print(no33)

14.532

In [10]:
#String  
    
no1= 'laskdsal das '
no2= 'DJkah shdk ahk'
no333 = no1+no2
print(no333)

laskdsal das DJkah shdk ahk

In [12]:
type(no3)

int

In [11]:
type(no33)

float

In [13]:
type(no333)

str

In [19]:
#list

list = ['sajdk',32 ,'dsadlksa' , "adsajkfkas" , 2482.32 ,[387, 213,372,312,32]]

In [20]:
print(list)

['sajdk', 32, 'dsadlksa', 'adsajkfkas', 2482.32, [387, 213, 372, 312, 32]]

In [21]:
for i in list:
    print(i)
    print('\n')

sajdk


32


dsadlksa


adsajkfkas


2482.32


[387, 213, 372, 312, 32]

In [27]:
# Dictonary
dict = {"ksr":"Sai Krupa" , "atharva":"abc" , "dasda":"uiwueia"}

In [28]:
dict

{'ksr': 'Sai Krupa', 'atharva': 'abc', 'dasda': 'uiwueia'}

In [29]:
dict.get('ksr')

'Sai Krupa'

In [30]:
#SET


set1 = [22,33,12,32,22,541,51,21,12]

In [31]:
set1

[22, 33, 12, 32, 22, 541, 51, 21, 12]

In [32]:
#tuple

# completely similar to list except its immutable 

tup1 = (1,"lauinda" , "sai kripa" ,420)

In [33]:
tup1

(1, 'lauinda', 'sai kripa', 420)

In [38]:
tup1.count(2)

0

In [39]:
tup1.count(1)

1

In [40]:
tup1.index('sai kripa')

2

In [41]:
# Boolean True / False 

a= True

In [42]:
a

True

In [43]:
!a

'a' is not recognized as an internal or external command,
operable program or batch file.

In [44]:
not a

False

In [45]:
a.bit_length()

1

## Home Work

In [47]:
# list dictonary and set

list2 = ["Kunak ", 23 , 'D3' , 32.32 , True ]

In [48]:
list2

['Kunak ', 23, 'D3', 32.32, True]

In [49]:
list2.append(2344)

In [52]:
list32 = list2.copy()

In [53]:
list32

['Kunak ', 23, 'D3', 32.32, True, 2344]

In [55]:
list2.count(23)

1

In [56]:
list2.pop()

2344

In [57]:
list2.reverse()

In [58]:
list2

[True, 32.32, 'D3', 23, 'Kunak ']

In [59]:
list2.remove(True)

In [60]:
list2

[32.32, 'D3', 23, 'Kunak ']

In [61]:

# Dictonary

In [62]:
dict1  =  {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [63]:
dict1.get('brand')

'Ford'

In [67]:
dict1.values()

dict_values(['Ford', 'Mustang', 1964])

In [69]:
dict1.keys()

dict_keys(['brand', 'model', 'year'])

In [70]:
# Sets

In [71]:
set1 = [1 ,3 ,3 ,44,44,323,32,12,234,11,11,22,33,11]

In [72]:
set1

[1, 3, 3, 44, 44, 323, 32, 12, 234, 11, 11, 22, 33, 11]

[1, 3, 3, 44, 44, 323, 32, 12, 234, 11, 11, 22, 33, 11]

In [75]:
set1.append(222)

In [76]:
set1.insert(23,0)

In [77]:
set1

[1, 3, 3, 44, 44, 323, 32, 12, 234, 11, 11, 22, 33, 11, 222, 0]

In [78]:
set1.insert(1,888)

In [79]:
set1

[1, 888, 3, 3, 44, 44, 323, 32, 12, 234, 11, 11, 22, 33, 11, 222, 0]

In [80]:
set2 = [99,23,424,124]

In [81]:
set1.extend(set2)

In [83]:
print(set1)

[1, 888, 3, 3, 44, 44, 323, 32, 12, 234, 11, 11, 22, 33, 11, 222, 0, 99, 23, 424, 124]

In [84]:
set1.sort()

In [85]:
print(set1)

[0, 1, 3, 3, 11, 11, 11, 12, 22, 23, 32, 33, 44, 44, 99, 124, 222, 234, 323, 424, 888]